body {
  color: #574b4b;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  margin:auto
}


form {
  width:30%;
  float: left;
  margin:2%;
}

p {
  text-align: center;
}

select {
  margin:10px
}



.column {
  /* display: flex;
  align-items: center;
  justify-content: center;   */
  /* max-width: 18rem; */
  flex-basis: 100%;
  background-color:rgb(240, 240, 240);
  min-height: 1000px;
  margin:2%;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  border-left: 2px solid rgba(0, 0, 0, 0.125);
  border-right: 2px solid rgba(0, 0, 0, 0.125);
}

.columnList {
  display:flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
}

.todo {
  margin: auto;
  width: 80%;
}

.title {
  margin:2rem;
}
